code {
    color: #9baec8;
}

/** Don't crop images **/

.columns-area--mobile .status .media-gallery {
  height: auto !important;
}

/** Styling for link previews **/
/* .status-card:has(.status-card__image img[src]) { */
a.status-card,div.status-card,
a.status-card.compact,
.status-card.interactive {
    display: block;
    border-color: #313543;
    background-color: #191b22;
    border-radius: 4px;
    &:hover {
        text-decoration: none;
    }
    .status-card__image-image, 
    .status-card__image-preview {
        border-radius: 4px 4px 0px 0px;
    }
    .status-card__image {
        border-radius: 4px 4px 0px 0px;
        overflow: hidden;
        max-height: 400px;
    }
    .status-card__title { 
        line-height: 20px;
        overflow: visible;
        white-space: normal;
    }
    .status-card__host {
        display: block;
        margin-top: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .status-card__image-image {
        border-radius: 0px;
    }
    .status-card__content {
        padding: 15px;
    }
    .status-card__title {
        font-size: 15px;
        margin-bottom: 10px;
        font-weight: normal;
        color: white;
        white-space: inherit;
    }
    .status-card__host {
        font-size: 14px;
        color: #71767b;
        margin-top: 0px;
        margin-bottom: 10px;
    }
     .status-card__description {
        color: #71767b;
    }
}

.fa-file-text::before {
    content: "";
}


/* custom logos for articles */ 
.status-card__content:has(a.status-card__title[href*="https://www.youtube.com"]) .status-card__host {
    background-image: url(https://mstdn-files.thms.uk/logos/youtube.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 13px;
}

a[href*="https://sussexbylines.co.uk"] .status-card__host {
    background-image: url(https://mstdn-files.thms.uk/logos/SussexBylines.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 33px;
}
a[href*="https://westenglandbylines.co.uk"] .status-card__host {
    background-image: url(https://mstdn-files.thms.uk/logos/WestEnglandBylines.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 45px;
}
a[href*="https://bylinesnetwork.co.uk"] .status-card__host {
    background-image: url(https://i.imgur.com/MqCz98y.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 33px;
}
a[href*="https://kentbylines.co.uk"] .status-card__host {
    background-image: url(https://i.imgur.com/g5vaISq.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 30px;
}
a[href*="https://centralbylines.co.uk"] .status-card__host {
    background-image: url(https://i.imgur.com/sCEXu3Y.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 40px;
}
a[href*="https://eastangliabylines.co.uk"] .status-card__host {
    background-image: url(https://i.imgur.com/3Vh0Kh9.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 40px;
}
a[href*="https://northeastbylines.co.uk"] .status-card__host {
    background-image: url(https://i.imgur.com/iebJbNi.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 20px;
}
a[href*="https://yorkshirebylines.co.uk"] .status-card__host {
    background-image: url(https://i.imgur.com/OPutunb.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 25px;
}
a[href*="https://northwestbylines.co.uk"] .status-card__host {
    background-image: url(https://i.imgur.com/m3A4zU8.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 25px;
}
a[href*="https://bylines.scot"] .status-card__host {
    background-image: url(https://i.imgur.com/RwhtmTq.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 25px;
}


a[href*="https://github.com"] .status-card__host {
    background-image: url(https://mstdn-files.thms.uk/logos/github.svg?1);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 16px;
    &::after {
        content: "GitHub";
        color: white;
        font-size: 14px;
        margin-left: 20px;
    }
}


a[href*="https://www.bbc.com"] .status-card__host {
    background-image: url(https://mstdn-files.thms.uk/logos/bbc.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 16px;
}

a[href*="https://www.nytimes.com"] .status-card__host {
    background-image: url(https://mstdn-files.thms.uk/logos/newyorktimes.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 17px;
}


a[href*="https://www.independent.co.uk"] .status-card__host {
    background-image: url(https://mstdn-files.thms.uk/logos/the-independent.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 19px;
}


a[href*="https://www.bnnbloomberg.ca"] .status-card__host,
a[href*="https://www.bloomberg.com"] .status-card__host {
    background-image: url(https://mstdn-files.thms.uk/logos/Bloomberg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 17px;
}

a[href*="https://www.barrons.com"] .status-card__host {
    background-image: url(https://mstdn-files.thms.uk/logos/barrons.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 14px;
}

a[href*="https://www.nbcnews.com"] .status-card__host {
    background-image: url(https://mstdn-files.thms.uk/logos/nbc-news.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 12px;
}

a[href*="https://www.politico"] .status-card__host {
    background-image: url(https://mstdn-files.thms.uk/logos/POLITICO.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 12px;
}

a[href*="https://www.theguardian.com"] .status-card__host {
    background-image: url(https://mstdn-files.thms.uk/logos/theguardian.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 25px;
}

a[href*="https://www.washingtonpost.com"] .status-card__host {
    background-image: url(https://mstdn-files.thms.uk/logos/washingtonpost.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 19px;
}

a[href*="https://www.wsj.com"] .status-card__host {
    background-image: url(https://mstdn-files.thms.uk/logos/WSJ.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 12px;
}

a[href*="https://telex.hu"] .status-card__host {
    background-image: url(https://mstdn-files.thms.uk/logos/telex.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 13px;
}

a[href*="https://www.euronews.com"] .status-card__host {
    background-image: url(https://mstdn-files.thms.uk/logos/euronews.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 20px;
}

a[href*="https://www.thelocal.com"] .status-card__host {
    background-image: url(https://mstdn-files.thms.uk/logos/thelocal.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 16px;
}

a[href*="https://www.forbes.com"] .status-card__host {
    background-image: url(https://mstdn-files.thms.uk/logos/forbes.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 15px;
}

a[href*="https://www.defensenews.com"] .status-card__host {
    background-image: url(https://i.imgur.com/nHnTrvi.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    margin-left: -3px;
    height: 17px;
}

a[href*="https://www.reuters.com"] .status-card__host {
    background-image: url(https://mstdn-files.thms.uk/logos/Reuters-Logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 25px;
}

a[href*="https://www.euractiv.com"] .status-card__host {
    background-image: url(https://i.imgur.com/GX1OkvW.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 16px;
}

a[href*="https://foreignpolicy.com"] .status-card__host {
    background-image: url(https://mstdn-files.thms.uk/logos/foreignpolicy.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 13px;
}

a[href*="https://www.ft.com"] .status-card__host {
    background-image: url(https://i.imgur.com/1IRIdMt.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    border-radius: 5px;
    width: 127px;
    height: 16px;
}

a[href*="https://www.france24.com"] .status-card__host {
    background-image: url(https://i.imgur.com/mvSH8DA.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    border-radius: 5px;
    width: 90px;
    height: 25px;
}

a[href*="https://www.dw.com"] .status-card__host {
    background-image: url(https://mstdn-files.thms.uk/logos/dw-news.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 19px;
    &::after {
        content: "News";
        color: white;
        font-size: 14px;
        margin-left: 36px;
        font-weight: 500;
    }
}

a[href*="https://apnews.com"] .status-card__host {
    background-image: url(https://mstdn-files.thms.uk/logos/apnews.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0 !important;
    height: 18px;
    &:after {
        content: "News";
        color: white;
        font-size: 14px;
        margin-left: 20px;
    }
}
a[href*="https://www.reddit.com"],
a[href*="https://reddit.com"] {
    .status-card__host {
        background-image: url(https://mstdn-files.thms.uk/logos/reddit.svg?1);
        background-repeat: no-repeat;
        background-size: contain;
        font-size: 0 !important;
        height: 19px;
    }
}
a[href*="https://news.ycombinator.com/"] {
    .status-card__host {
        background-image: url(https://mstdn-files.thms.uk/logos/hn.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        font-size: 0 !important;
        height: 19px;
    }
}
a[href*="https://arstechnica.com/"],
a[href*="https://www.arstechnica.com/"] {
    .status-card__host {
        background-image: url(https://mstdn-files.thms.uk/logos/ars.svg);
        background-repeat: no-repeat;
        background-size: contain;
        font-size: 0 !important;
        height: 19px;
    }
}
a[href*="https://laravel.com/"],
a[href*="https://www.laravel.com/"] {
    .status-card__host {
        background: url(https://mstdn-files.thms.uk/logos/laravel-mark.svg);
        background-repeat: no-repeat;
        background-size: contain;
        font-size: 0 !important;
        height: 19px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 27px;
            background: url(https://mstdn-files.thms.uk/logos/laravel-type.svg);
            background-repeat: no-repeat;
            background-size: contain;
            height: 71%;
            aspect-ratio: 114/29;
            display: block;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
a[href*="https://theregister.com/"],
a[href*="https://www.theregister.com/"] {
    .status-card__host {
        background: url(https://mstdn-files.thms.uk/logos/the-register.svg);
        background-repeat: no-repeat;
        background-size: contain;
        font-size: 0 !important;
        height: 19px;
        position: relative;
    }
}

a[href*="https://gitlab.com/"],
a[href*="https://www.gitlab.com/"] {
    .status-card__host {
        background: url(https://mstdn-files.thms.uk/logos/gitlab.svg);
        background-repeat: no-repeat;
        background-size: contain;
        font-size: 0 !important;
        height: 19px;
        position: relative;
    }
}

a[href^="https://en.wikipedia.org/"],
a[href^="https://ceb.wikipedia.org/"],
a[href^="https://de.wikipedia.org/"],
a[href^="https://sv.wikipedia.org/"],
a[href^="https://fr.wikipedia.org/"],
a[href^="https://nl.wikipedia.org/"],
a[href^="https://ru.wikipedia.org/"],
a[href^="https://es.wikipedia.org/"],
a[href^="https://it.wikipedia.org/"],
a[href^="https://arz.wikipedia.org/"],
a[href^="https://pl.wikipedia.org/"],
a[href^="https://ja.wikipedia.org/"],
a[href^="https://zh.wikipedia.org/"],
a[href^="https://vi.wikipedia.org/"],
a[href^="https://war.wikipedia.org/"],
a[href^="https://uk.wikipedia.org/"],
a[href^="https://ar.wikipedia.org/"],
a[href^="https://pt.wikipedia.org/"],
a[href^="https://fa.wikipedia.org/"],
a[href^="https://ca.wikipedia.org/"],
a[href^="https://sr.wikipedia.org/"],
a[href^="https://id.wikipedia.org/"],
a[href^="https://ko.wikipedia.org/"],
a[href^="https://no.wikipedia.org/"],
a[href^="https://fi.wikipedia.org/"],
a[href^="https://tr.wikipedia.org/"],
a[href^="https://hu.wikipedia.org/"],
a[href^="https://cs.wikipedia.org/"],
a[href^="https://ce.wikipedia.org/"],
a[href^="https://tt.wikipedia.org/"],
a[href^="https://sh.wikipedia.org/"],
a[href^="https://ro.wikipedia.org/"],
a[href^="https://zh-min-nan.wikipedia.org/"],
a[href^="https://eu.wikipedia.org/"],
a[href^="https://ms.wikipedia.org/"],
a[href^="https://eo.wikipedia.org/"],
a[href^="https://he.wikipedia.org/"],
a[href^="https://hy.wikipedia.org/"],
a[href^="https://da.wikipedia.org/"],
a[href^="https://bg.wikipedia.org/"],
a[href^="https://cy.wikipedia.org/"],
a[href^="https://sk.wikipedia.org/"],
a[href^="https://azb.wikipedia.org/"],
a[href^="https://et.wikipedia.org/"],
a[href^="https://kk.wikipedia.org/"],
a[href^="https://be.wikipedia.org/"],
a[href^="https://min.wikipedia.org/"],
a[href^="https://simple.wikipedia.org/"],
a[href^="https://uz.wikipedia.org/"],
a[href^="https://el.wikipedia.org/"],
a[href^="https://hr.wikipedia.org/"],
a[href^="https://lt.wikipedia.org/"],
a[href^="https://gl.wikipedia.org/"],
a[href^="https://az.wikipedia.org/"],
a[href^="https://ur.wikipedia.org/"],
a[href^="https://sl.wikipedia.org/"],
a[href^="https://ka.wikipedia.org/"],
a[href^="https://nn.wikipedia.org/"],
a[href^="https://hi.wikipedia.org/"],
a[href^="https://th.wikipedia.org/"],
a[href^="https://ta.wikipedia.org/"],
a[href^="https://la.wikipedia.org/"],
a[href^="https://mk.wikipedia.org/"],
a[href^="https://bn.wikipedia.org/"],
a[href^="https://ast.wikipedia.org/"],
a[href^="https://zh-yue.wikipedia.org/"],
a[href^="https://lv.wikipedia.org/"],
a[href^="https://tg.wikipedia.org/"],
a[href^="https://af.wikipedia.org/"],
a[href^="https://my.wikipedia.org/"],
a[href^="https://mg.wikipedia.org/"],
a[href^="https://bs.wikipedia.org/"],
a[href^="https://mr.wikipedia.org/"],
a[href^="https://oc.wikipedia.org/"],
a[href^="https://sq.wikipedia.org/"],
a[href^="https://nds.wikipedia.org/"],
a[href^="https://ky.wikipedia.org/"],
a[href^="https://be-tarask.wikipedia.org/"],
a[href^="https://ml.wikipedia.org/"],
a[href^="https://te.wikipedia.org/"],
a[href^="https://br.wikipedia.org/"],
a[href^="https://sw.wikipedia.org/"],
a[href^="https://new.wikipedia.org/"],
a[href^="https://jv.wikipedia.org/"],
a[href^="https://lld.wikipedia.org/"],
a[href^="https://vec.wikipedia.org/"],
a[href^="https://ht.wikipedia.org/"],
a[href^="https://pnb.wikipedia.org/"],
a[href^="https://pms.wikipedia.org/"],
a[href^="https://su.wikipedia.org/"],
a[href^="https://lb.wikipedia.org/"],
a[href^="https://ba.wikipedia.org/"],
a[href^="https://ku.wikipedia.org/"],
a[href^="https://ga.wikipedia.org/"],
a[href^="https://lmo.wikipedia.org/"],
a[href^="https://szl.wikipedia.org/"],
a[href^="https://is.wikipedia.org/"],
a[href^="https://cv.wikipedia.org/"],
a[href^="https://fy.wikipedia.org/"],
a[href^="https://ckb.wikipedia.org/"],
a[href^="https://tl.wikipedia.org/"],
a[href^="https://an.wikipedia.org/"],
a[href^="https://wuu.wikipedia.org/"],
a[href^="https://diq.wikipedia.org/"],
a[href^="https://sco.wikipedia.org/"],
a[href^="https://pa.wikipedia.org/"],
a[href^="https://io.wikipedia.org/"],
a[href^="https://vo.wikipedia.org/"],
a[href^="https://yo.wikipedia.org/"],
a[href^="https://ne.wikipedia.org/"],
a[href^="https://gu.wikipedia.org/"],
a[href^="https://als.wikipedia.org/"],
a[href^="https://kn.wikipedia.org/"],
a[href^="https://ia.wikipedia.org/"],
a[href^="https://bar.wikipedia.org/"],
a[href^="https://scn.wikipedia.org/"],
a[href^="https://avk.wikipedia.org/"],
a[href^="https://bpy.wikipedia.org/"],
a[href^="https://qu.wikipedia.org/"],
a[href^="https://crh.wikipedia.org/"],
a[href^="https://mn.wikipedia.org/"],
a[href^="https://nv.wikipedia.org/"],
a[href^="https://ha.wikipedia.org/"],
a[href^="https://xmf.wikipedia.org/"],
a[href^="https://si.wikipedia.org/"],
a[href^="https://ban.wikipedia.org/"],
a[href^="https://bat-smg.wikipedia.org/"],
a[href^="https://ps.wikipedia.org/"],
a[href^="https://os.wikipedia.org/"],
a[href^="https://frr.wikipedia.org/"],
a[href^="https://or.wikipedia.org/"],
a[href^="https://sah.wikipedia.org/"],
a[href^="https://gd.wikipedia.org/"],
a[href^="https://bug.wikipedia.org/"],
a[href^="https://cdo.wikipedia.org/"],
a[href^="https://yi.wikipedia.org/"],
a[href^="https://ilo.wikipedia.org/"],
a[href^="https://sd.wikipedia.org/"],
a[href^="https://am.wikipedia.org/"],
a[href^="https://nap.wikipedia.org/"],
a[href^="https://li.wikipedia.org/"],
a[href^="https://fo.wikipedia.org/"],
a[href^="https://hsb.wikipedia.org/"],
a[href^="https://gor.wikipedia.org/"],
a[href^="https://map-bms.wikipedia.org/"],
a[href^="https://mai.wikipedia.org/"],
a[href^="https://mzn.wikipedia.org/"],
a[href^="https://ig.wikipedia.org/"],
a[href^="https://bcl.wikipedia.org/"],
a[href^="https://eml.wikipedia.org/"],
a[href^="https://ace.wikipedia.org/"],
a[href^="https://shn.wikipedia.org/"],
a[href^="https://zh-classical.wikipedia.org/"],
a[href^="https://sa.wikipedia.org/"],
a[href^="https://wa.wikipedia.org/"],
a[href^="https://ie.wikipedia.org/"],
a[href^="https://lij.wikipedia.org/"],
a[href^="https://as.wikipedia.org/"],
a[href^="https://zu.wikipedia.org/"],
a[href^="https://mhr.wikipedia.org/"],
a[href^="https://mrj.wikipedia.org/"],
a[href^="https://hyw.wikipedia.org/"],
a[href^="https://hif.wikipedia.org/"],
a[href^="https://bjn.wikipedia.org/"],
a[href^="https://mni.wikipedia.org/"],
a[href^="https://sn.wikipedia.org/"],
a[href^="https://hak.wikipedia.org/"],
a[href^="https://km.wikipedia.org/"],
a[href^="https://roa-tara.wikipedia.org/"],
a[href^="https://so.wikipedia.org/"],
a[href^="https://pam.wikipedia.org/"],
a[href^="https://nso.wikipedia.org/"],
a[href^="https://rue.wikipedia.org/"],
a[href^="https://bh.wikipedia.org/"],
a[href^="https://tum.wikipedia.org/"],
a[href^="https://se.wikipedia.org/"],
a[href^="https://mi.wikipedia.org/"],
a[href^="https://myv.wikipedia.org/"],
a[href^="https://sat.wikipedia.org/"],
a[href^="https://vls.wikipedia.org/"],
a[href^="https://nds-nl.wikipedia.org/"],
a[href^="https://nah.wikipedia.org/"],
a[href^="https://sc.wikipedia.org/"],
a[href^="https://vep.wikipedia.org/"],
a[href^="https://kab.wikipedia.org/"],
a[href^="https://tk.wikipedia.org/"],
a[href^="https://gan.wikipedia.org/"],
a[href^="https://glk.wikipedia.org/"],
a[href^="https://co.wikipedia.org/"],
a[href^="https://kw.wikipedia.org/"],
a[href^="https://fiu-vro.wikipedia.org/"],
a[href^="https://dag.wikipedia.org/"],
a[href^="https://ary.wikipedia.org/"],
a[href^="https://bo.wikipedia.org/"],
a[href^="https://ab.wikipedia.org/"],
a[href^="https://gv.wikipedia.org/"],
a[href^="https://frp.wikipedia.org/"],
a[href^="https://zea.wikipedia.org/"],
a[href^="https://skr.wikipedia.org/"],
a[href^="https://ug.wikipedia.org/"],
a[href^="https://kv.wikipedia.org/"],
a[href^="https://pcd.wikipedia.org/"],
a[href^="https://udm.wikipedia.org/"],
a[href^="https://csb.wikipedia.org/"],
a[href^="https://mt.wikipedia.org/"],
a[href^="https://ay.wikipedia.org/"],
a[href^="https://gn.wikipedia.org/"],
a[href^="https://smn.wikipedia.org/"],
a[href^="https://nrm.wikipedia.org/"],
a[href^="https://lez.wikipedia.org/"],
a[href^="https://lfn.wikipedia.org/"],
a[href^="https://stq.wikipedia.org/"],
a[href^="https://olo.wikipedia.org/"],
a[href^="https://lo.wikipedia.org/"],
a[href^="https://rw.wikipedia.org/"],
a[href^="https://mwl.wikipedia.org/"],
a[href^="https://ang.wikipedia.org/"],
a[href^="https://rm.wikipedia.org/"],
a[href^="https://fur.wikipedia.org/"],
a[href^="https://lad.wikipedia.org/"],
a[href^="https://gom.wikipedia.org/"],
a[href^="https://koi.wikipedia.org/"],
a[href^="https://ext.wikipedia.org/"],
a[href^="https://tyv.wikipedia.org/"],
a[href^="https://dsb.wikipedia.org/"],
a[href^="https://av.wikipedia.org/"],
a[href^="https://dty.wikipedia.org/"],
a[href^="https://ln.wikipedia.org/"],
a[href^="https://cbk-zam.wikipedia.org/"],
a[href^="https://pap.wikipedia.org/"],
a[href^="https://dv.wikipedia.org/"],
a[href^="https://kaa.wikipedia.org/"],
a[href^="https://ksh.wikipedia.org/"],
a[href^="https://gag.wikipedia.org/"],
a[href^="https://bxr.wikipedia.org/"],
a[href^="https://pfl.wikipedia.org/"],
a[href^="https://pag.wikipedia.org/"],
a[href^="https://pi.wikipedia.org/"],
a[href^="https://ks.wikipedia.org/"],
a[href^="https://szy.wikipedia.org/"],
a[href^="https://haw.wikipedia.org/"],
a[href^="https://awa.wikipedia.org/"],
a[href^="https://tay.wikipedia.org/"],
a[href^="https://mdf.wikipedia.org/"],
a[href^="https://za.wikipedia.org/"],
a[href^="https://tw.wikipedia.org/"],
a[href^="https://blk.wikipedia.org/"],
a[href^="https://inh.wikipedia.org/"],
a[href^="https://krc.wikipedia.org/"],
a[href^="https://xal.wikipedia.org/"],
a[href^="https://pdc.wikipedia.org/"],
a[href^="https://atj.wikipedia.org/"],
a[href^="https://to.wikipedia.org/"],
a[href^="https://arc.wikipedia.org/"],
a[href^="https://tcy.wikipedia.org/"],
a[href^="https://lg.wikipedia.org/"],
a[href^="https://mnw.wikipedia.org/"],
a[href^="https://kbp.wikipedia.org/"],
a[href^="https://jam.wikipedia.org/"],
a[href^="https://na.wikipedia.org/"],
a[href^="https://wo.wikipedia.org/"],
a[href^="https://kbd.wikipedia.org/"],
a[href^="https://nia.wikipedia.org/"],
a[href^="https://nov.wikipedia.org/"],
a[href^="https://ki.wikipedia.org/"],
a[href^="https://bi.wikipedia.org/"],
a[href^="https://nqo.wikipedia.org/"],
a[href^="https://tpi.wikipedia.org/"],
a[href^="https://tet.wikipedia.org/"],
a[href^="https://shi.wikipedia.org/"],
a[href^="https://jbo.wikipedia.org/"],
a[href^="https://roa-rup.wikipedia.org/"],
a[href^="https://fj.wikipedia.org/"],
a[href^="https://lbe.wikipedia.org/"],
a[href^="https://kg.wikipedia.org/"],
a[href^="https://xh.wikipedia.org/"],
a[href^="https://ty.wikipedia.org/"],
a[href^="https://cu.wikipedia.org/"],
a[href^="https://guw.wikipedia.org/"],
a[href^="https://om.wikipedia.org/"],
a[href^="https://trv.wikipedia.org/"],
a[href^="https://srn.wikipedia.org/"],
a[href^="https://sm.wikipedia.org/"],
a[href^="https://gcr.wikipedia.org/"],
a[href^="https://alt.wikipedia.org/"],
a[href^="https://chr.wikipedia.org/"],
a[href^="https://ltg.wikipedia.org/"],
a[href^="https://tn.wikipedia.org/"],
a[href^="https://ny.wikipedia.org/"],
a[href^="https://st.wikipedia.org/"],
a[href^="https://pih.wikipedia.org/"],
a[href^="https://mad.wikipedia.org/"],
a[href^="https://got.wikipedia.org/"],
a[href^="https://ami.wikipedia.org/"],
a[href^="https://rmy.wikipedia.org/"],
a[href^="https://bm.wikipedia.org/"],
a[href^="https://ve.wikipedia.org/"],
a[href^="https://ts.wikipedia.org/"],
a[href^="https://ff.wikipedia.org/"],
a[href^="https://chy.wikipedia.org/"],
a[href^="https://ss.wikipedia.org/"],
a[href^="https://rn.wikipedia.org/"],
a[href^="https://kcg.wikipedia.org/"],
a[href^="https://ak.wikipedia.org/"],
a[href^="https://iu.wikipedia.org/"],
a[href^="https://ch.wikipedia.org/"],
a[href^="https://ee.wikipedia.org/"],
a[href^="https://pnt.wikipedia.org/"],
a[href^="https://ady.wikipedia.org/"],
a[href^="https://ik.wikipedia.org/"],
a[href^="https://pcm.wikipedia.org/"],
a[href^="https://sg.wikipedia.org/"],
a[href^="https://pwn.wikipedia.org/"],
a[href^="https://din.wikipedia.org/"],
a[href^="https://ti.wikipedia.org/"],
a[href^="https://kl.wikipedia.org/"],
a[href^="https://dz.wikipedia.org/"],
a[href^="https://cr.wikipedia.org/"] {
    .status-card__host {
        background: url(https://mstdn-files.thms.uk/logos/wikipedia.svg);
        background-repeat: no-repeat;
        background-size: contain;
        font-size: 0 !important;
        height: 19px;
        position: relative;

        &::after {
            content: "Wikipeida";
            color: white;
            font-size: 14px;
            margin-left: 30px;
            font-weight: 500;
        }
    }
}